@import "src/styles/variables";

$editableTextarea-width: 100%;

.editableTextarea {
  max-width: $editableTextarea-width;
}

.growWrap {
  display: grid;
  max-width: $editableTextarea-width;
}

.growWrap::after {
  content: attr(data-replicated-value) " ";
  visibility: hidden;
  white-space: pre-wrap;
}

.growWrap textarea {
  overflow: hidden;
  width: 100%;
  height: 100%;
  resize: none;
  white-space: pre-wrap;
}

.growWrap > textarea,
.growWrap::after {
  padding: 0.5rem;
  border: 1px solid black;
  font: inherit;
  grid-area: 1 / 1 / 2 / 2;
}

.growWrap span {
  white-space: pre-wrap;
}
